{% extends "base.html" %}
{%block content%}
{%load static%}
		
	
	<!-- start banner Area -->
	<section class="banner-area relative about-banner" id="home">	
		<div class="overlay overlay-bg"></div>
		<div class="container">				
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Our Programs		
					</h1>	
					<p class="text-white link-nav"><a href="index.html">Program </a>  <span class="lnr lnr-arrow-right"></span>  <a href="courses.html"> {{department.name}}</a></p>
				</div>	
			</div>
		</div>
	</section>
	<!-- End banner Area -->	

	<!-- Start course-details Area -->
	<section class="course-details-area pt-120">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 left-contents">
					<div class="main-image">
						{% if department.image%}
						<img class="img-fluid" src="{{department.image.url}}" alt="">
						{%else%}
						<img class="img-fluid" src="{% static 'default/default_image.png'%}" alt="">
						{%endif%}
					</div>
					<div class="jq-tab-wrapper" id="horizontalTab">
						<div class="jq-tab-menu">
							<div class="jq-tab-title active" data-tab="1">Objectives</div>
							<div class="jq-tab-title" data-tab="2">Eligibility</div>
							<div class="jq-tab-title" data-tab="3">Course Outline</div>
							<div class="jq-tab-title" data-tab="4">Description</div>
							<div class="jq-tab-title" data-tab="5">Comments</div>
							<div class="jq-tab-title" data-tab="6">Reviews</div>
						</div>
						<div class="jq-tab-content-wrapper">
							<div class="jq-tab-content active" data-tab="1">
								{{department.objectives}}
								<br>
							</div>
							<div class="jq-tab-content" data-tab="2">
								{{department.eligibility}}
								<br>
								<br>
							</div>
							<div class="jq-tab-content" data-tab="3">
								<ul class="course-list">
									<li class="justify-content-between d-flex">
										<p>Introduction Lesson</p>
										<a class="primary-btn text-uppercase" href="#">View Details</a>
									</li>
									<li class="justify-content-between d-flex">
										<p>Basics of HTML</p>
										<a class="primary-btn text-uppercase" href="#">View Details</a>
									</li>
									<li class="justify-content-between d-flex">
										<p>Getting Know about HTML</p>
										<a class="primary-btn text-uppercase" href="#">View Details</a>
									</li>
									<li class="justify-content-between d-flex">
										<p>Tags and Attributes</p>
										<a class="primary-btn text-uppercase" href="#">View Details</a>
									</li>
									<li class="justify-content-between d-flex">
										<p>Basics of CSS</p>
										<a class="primary-btn text-uppercase" href="#">View Details</a>
									</li>
									<li class="justify-content-between d-flex">
										<p>Getting Familiar with CSS</p>
										<a class="primary-btn text-uppercase" href="#">View Details</a>
									</li>
									<li class="justify-content-between d-flex">
										<p>Introduction to Bootstrap</p>
										<a class="primary-btn text-uppercase" href="#">View Details</a>
									</li>																		
									<li class="justify-content-between d-flex">
										<p>Responsive Design</p>
										<a class="primary-btn text-uppercase" href="#">View Details</a>
									</li>
									<li class="justify-content-between d-flex">
										<p>Canvas in HTML 5</p>
										<a class="primary-btn text-uppercase" href="#">View Details</a>
									</li>

								</ul>
							</div>
							<div class="jq-tab-content active" data-tab="4">
								{{department.description}}
								<br>
							</div>
							<div class="jq-tab-content comment-wrap" data-tab="5">
								<div class="comments-area">
									<h4>{{ department.comments.count }} Comments</h4>
									{% if department.comments.all %}
										<div class="comment-list">
											{% for comment in department.comments.all %}
												<div class="single-comment justify-content-between d-flex mb-5">
													<div class="user justify-content-between d-flex">
														<div class="thumb">
															{% if comment.user.profile_pic %}
																<img src="{{ comment.user.profile_pic.url }}" alt="{{ comment.user.first_name }} {{ comment.user.last_name }}" style="width:50px; height: 50px">
															{% else %}
																<img src="{% static 'default/profile_img.png' %}" alt="Default Image" style="width:50px; height: 50px">
															{% endif %}
														</div>
														<div class="desc">
															<h5><a href="#">{{ comment.user.first_name }} {{ comment.user.last_name }}</a></h5>
															<p class="date">{{ comment.created_at|date:"F j, Y \\a\\t g:i a" }}</p>
															<p class="comment">
																{{ comment.content }}
															</p>
														</div>
													</div>
													<div class="reply-btn d-flex align-items-center">
														<a href="" class="btn-reply text-uppercase">reply</a>
													</div>
												</div>
											{% endfor %}
										</div>
									{% else %}
										<p>Nothing to see here</p>
									{% endif %}
								</div>
							
								<div class="comment-form">
									<h4>Leave a Comment</h4>
									<form>
										<div class="form-group form-inline">
											<div class="form-group col-lg-6 col-md-12 name">
												<input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
											</div>
											<div class="form-group col-lg-6 col-md-12 email">
												<input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
											</div>
										</div>
										<div class="form-group">
											<input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
										</div>
										<div class="form-group">
											<textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
										</div>
										<a href="#" class="mt-40 text-uppercase genric-btn primary text-center">Post Comment</a>
									</form>
								</div>
							</div>
							<div class="jq-tab-content" data-tab="6">
								<div class="review-top row pt-40">
									<div class="col-lg-3">
										<div class="avg-review">
											Average <br>
											<span>{{ avg_rating|floatformat:1 }}</span> <br>
											({{ reviews.count }} Ratings)
										</div>
									</div>
									<div class="comments-area mb-30">
										<div class="comment-list">
										  <div class="single-comment single-reviews justify-content-between d-flex">
											<div class="user justify-content-between d-flex align-items-center">
											  <div class="desc">
												<h5 class="d-flex align-items-center">
												  <span class="mr-3">Average Review:</span>
												  <div class="star ml-auto">
													{% for i in "12345" %}
													<span class="fa fa-star{% if i|add:'0' <= avg_rating %} checked{% endif %}"></span>
													{% endfor %}
												  </div>
												</h5>
											  </div>
											</div>
										  </div>
										</div>
									  </div>
								</div>
						
								
									<div class="comment-form" style="margin-top: 1px; margin-bottom: 1px">
										<h4>Leave a Review</h4>
										<form method="post" action="">
											{% csrf_token %}
											<div class="form-group form-inline">
												<div class="form-group col-lg-6 col-md-12 name">
													<input type="text" class="form-control" id="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
												</div>
												<div class="form-group col-lg-6 col-md-12 email">
													<input type="email" class="form-control" id="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
												</div>
											</div>
											<div class="form-group">
												<input type="text" class="form-control" id="subject" placeholder="Subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
											</div>
											<div class="form-group">
												<textarea class="form-control mb-10" rows="5" name="comment" placeholder="Review" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Review'" required=""></textarea>
											</div>
											<div class="form-group">
												<label for="rating">Rating:</label>
												<select name="rating" id="rating" class="form-control">
													<option value="1">1</option>
													<option value="2">2</option>
													<option value="3">3</option>
													<option value="4">4</option>
													<option value="5" selected>5</option>
												</select>
											</div>
											<button type="submit" class="mt-40 text-uppercase genric-btn primary text-center">Submit Review</button>
										</form>
									</div>
								
								
							
								<div class="comments-area mb-30">
									<div class="comment-list">
									  {% for review in reviews %}
									  <div class="single-comment single-reviews justify-content-between d-flex">
										<div class="user justify-content-between d-flex">
										  <div class="thumb">
											<img src="{{ review.user.profile_picture.url }}" alt="">
										  </div>
										  <div class="desc">
											<h5><a href="#">{{ review.user.first_name }} {{ review.user.last_name }}</a>
											  <div class="star">
												{% for star in review.star_range %}
												<span class="fa fa-star checked"></span>
												{% endfor %}
												{% for star in review.empty_star_range %}
												<span class="fa fa-star"></span>
												{% endfor %}
											  </div>
											</h5>
											<p class="comment">
											  {{ review.comment }}
											</p>
										  </div>
										</div>
									  </div>
									  {% endfor %}
									</div>


									
									
												                                                                      
								</div>	                                	
							</div>                                
						</div>
					</div>
				</div>
				<div class="col-lg-4 right-contents">
					<ul>
						<li>
							<a class="justify-content-between d-flex" href="#">
								<p>Chairperson</p> 
								{%if department.chairperson%}
								<span class="or">{{department.chairperson}}</span>
								{%else%}
								<span class="or">Unknown</span>
								{%endif%}
							</a>
						</li>
						<li>
							<a class="justify-content-between d-flex" href="#">
								<p>Course Fee </p>
								<span>$230</span>
							</a>
						</li>
						<li>
							<a class="justify-content-between d-flex" href="#">
								<p>Undergraduate Program </p>
								<span>Major & Minor</span>
							</a>
						</li>
						<li>
							<a class="justify-content-between d-flex" href="#">
								<p>Schedule Type </p>
								<span>Hybrid</span>
							</a>
						</li>
					</ul>
					<a href="#" class="primary-btn text-uppercase">Enroll the course</a>
				</div>
			</div>
		</div>	
	</section>
	<!-- End course-details Area -->
	

	<!-- Start popular-courses Area --> 
	<section class="popular-courses-area section-gap courses-page">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="menu-content pb-70 col-lg-8">
					<div class="title text-center">
						<h1 class="mb-10">Popular Courses we offer</h1>
						<p>There is a moment in the life of any aspiring.</p>
					</div>
				</div>
			</div>						
			<div class="row">
				<div class="single-popular-carusel col-lg-3 col-md-6">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" src="img/p1.jpg" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								Learn Designing
							</h4>
						</a>
						<p>
							When television was young, there was a hugely popular show based on the still popular fictional characte										
						</p>
					</div>
				</div>	
				<div class="single-popular-carusel col-lg-3 col-md-6">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" src="img/p2.jpg" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								Learn React js beginners
							</h4>
						</a>
						<p>
							When television was young, there was a hugely popular show based on the still popular fictional characte										
						</p>
					</div>
				</div>	
				<div class="single-popular-carusel col-lg-3 col-md-6">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" src="img/p3.jpg" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								Learn Photography
							</h4>
						</a>
						<p>
							When television was young, there was a hugely popular show based on the still popular fictional characte										
						</p>
					</div>
				</div>	
				<div class="single-popular-carusel col-lg-3 col-md-6">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" src="img/p4.jpg" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								Learn Surveying
							</h4>
						</a>
						<p>
							When television was young, there was a hugely popular show based on the still popular fictional characte										
						</p>
					</div>
				</div>							
				<a href="#" class="primary-btn text-uppercase mx-auto">Load More Courses</a>													
			</div>
		</div>	
	</section>
	<!-- End popular-courses Area -->					

	<!-- Start cta-two Area -->
	<section class="cta-two-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 cta-left">
					<h1>Not Yet Satisfied with our Trend?</h1>
				</div>
				<div class="col-lg-4 cta-right">
					<a class="primary-btn wh" href="#">view our blog</a>
				</div>
			</div>
		</div>	
	</section>
	<!-- End cta-two Area -->						    			


{% endblock %}